.email-preview{
    /* height: 50px; */
    background-color: rgba(251, 252, 246, 0.849);
    border-bottom: rgba(92, 92, 92, 0.842) 1px solid;
    padding: 15px;
}
.email-preview button{
    background-color: rgba(255, 235, 205, 0);
    width: 28px;
    border: unset;
}
.email-preview button :hover{
    background-color: rgba(39, 39, 13, 0.164);
}
.email-side-bar{
    width: 200px;
    padding: 18px;
    background: rgba(238, 207, 161, 0.26);
}
.email-side-bar li {
    padding: 18px;
}
.email-side-bar li :hover{
    background-color: rgba(241, 181, 90, 0.678);
    transition: 0.3s;
    border-radius: 15%;
}
.email-list{
    width: 100%;
    /* background-image: url('/img/background2.jpg'); */
    background-color: none;
}
.sub-title-perview{
    background-color:rgba(247, 229, 202, 0.247) ;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
.unReadMail{
    font-weight: 780;
    background-color: rgba(212, 212, 212, 0.719);
}
.compose{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.showing{
    background-color:rgba(247, 216, 78, 0.945); 
    font-weight: 700;
}
.smallSize{
    font-size: small;
    color: rgb(99, 96, 96);
}
.bar{
    height: 20px;
    background-color:rgb(245, 245, 245);
    position: relative;
}
.precent{
    height: 100%;
    background-color: rgb(224, 78, 42);
    border-radius: 13%;
}.search-bar{
    border-bottom: 1px rgb(131, 130, 130) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.router-link-exact-active {
    color: unset;
}
a{
    color: black;
}
.search-icon{
    height: 33px;
    width: 33px;
    /* background-image: url('/img/search2.jpg'); */
    background-repeat: no-repeat;
    background-size: 33px 33px;
}
.compose-input{
    width: 100%;
    background-color:unset;
    border: unset;
    border-bottom: rgb(5, 5, 5) 1px solid;
}
.list-side{
    display: flex;
    /* font-family: 'Open Sans Condensed', sans-serif; */
  
}
.list-side-bar{
    display: flex;
    flex-direction: column;
}
.mail-details{
    max-width: 100%;
}
.stars{
    font-size: 30px;
}
.yellow-stars{
    font-size: 30px;
    color: rgb(204, 204, 0);
}
.bar-msg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 0.80rem;

    
}

@media (max-width:650px){
    .list-side{
        flex-direction: column;
    }
    .list-side-bar{
       flex-direction:row ;
       justify-content: space-around
    }
    .email-side-bar{
        width: 100%;
        position: fixed;
        margin-top: 50px;
        background-color: rgb(216, 216, 216);
    }
    .email-side-bar li{
        padding: 8px;
    }
    .email-list{
       margin-top: 150px;
    }
    .search-bar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: rgb(207, 207, 207);
    }
    .compose{
        margin-top:150px ;
    }
    .mail-details{
        margin-top: 150px;
    }
    

    
}