.home-page h1 {
    font-size: 5rem;

    animation-name: home-title;
    animation-duration: 2s;
}

.home-page h1:active {
    animation-name: home-title;
    animation-duration: 2s;
}

@keyframes home-title {
    0%{
        font-size: 0rem;
    }
    100%{
        font-size: 5rem;
    }
}