@import './fonts.css';
@import './base.css';
@import './home.css';
@import './helpers.css';
@import './miss-notes.css';
@import './emails.css';
@import './miss-books.css';
@import './alert.css';


.logo {
    font-family: Nunito;
    font-weight: 200;
}

main > header {
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: 1px solid rgba(61, 57, 57, 0.3);
    background-color: #9aef9a;
    box-shadow: inset 0px 0px 10px -7px rgba(0,0,0,0.75);
    width: 100%;
    height: 10vh;
    z-index: 1000000000000000000000000000000000000000000000000000000000;
}

main > footer {
    /* background-color: rgba(190, 186, 186, 0.5); */
    background-color: #c5ecc5;
    border-top: 1px solid rgba(61, 57, 57, 0.3);
    box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.75);
    height: 10vh;
}

header .container {
    padding: 10px;
}

.main-nav-bar {
    width: 70%;
}


main > header .router-link-exact-active {
    color: rgb(241, 93, 93);
}

main > header li:hover {
    color: rgb(241, 93, 93);
}

.main-nav-button {
    display: none;
}

.router-preview {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 0%, rgba(89, 223, 129, 0.5) 100%);
    min-height: 80vh;
    border-right: 1px solid rgba(192, 180, 180, 0.3);
    border-left: 1px solid rgba(192, 180, 180, 0.3);
    margin-top: 10vh;
}

.absolute-to-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    /* margin: 0 auto; */
    /* width: 80%; */
    /* width: 90%; */
    width: 100%;
    height: 100%;
}


@media (max-width: 650px) {
    .main-nav-button {
        display: block;
    }
    .main-nav-bar {
        position: fixed;
        flex-direction: column;
        top: 10vh;
        right: 0;
        width: fit-content;
        z-index: 100000000000000000000000000000;
        transform: translate(101%, 0);
        transition: 0.3s;
    } .main-nav-bar li {
        height: 15vh;
        width: 40vw;
        background-color: rgb(50, 205, 76);
        border: 1px solid black;
        box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
    } .main-nav-bar.open {
        transform: translate(0, 0);
    }

}