@import './base.css';
@import './helpers.css';

body {
    background-color: rgba(190, 186, 186, 0.5);
}

header {
    height: 10vh;
    background-color: rgb(68, 240, 125);
}
.router-preview {
    height: 90vh;
}


.clean-list li {
    width: fit-content;
    height: fit-content;
    display: unset;
    text-align: unset;
}

.place-holder {
    width: 100%;
    height: 100%;
}

.absolute-to-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}