
.note-list {
    padding: 10px;
}

.note-preview {
    background-color: rgba(73, 252, 73, 0.6);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    /* height: 120px; */
}

.note-preview img, .note-preview iframe {
    /* height: 85%; */
    height: 90px;
    width: 85%;
    object-fit: cover;
}

.done-todo {
    text-decoration-line: line-through;
}