
.note-list {
    padding: 10px;
}

.notes-keep-app header > * {
    margin: 10px;
}

.notes-keep-app > * {
    padding: 10px;
}

.note-preview {
    /* background-color: rgba(165, 248, 165, 0.6); */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75);
    /* border-radius: 3px; */
    margin: 10px;
    padding: 10px;
    width: 100%;
    z-index: 999;
}

.note-preview > * {
    width: 100%;
    margin-bottom: 10px;
}


.done-todo {
    text-decoration-line: line-through;
}

.notes-keep-app > * {
    margin-bottom: 10px;
}
.notes-keep-app >:first-child {
    margin-top: 10px;
}

.notes-keep-app button {
    /* background-color: rgba(223, 210, 210, 0.3); */
}


.notes-keep-app label:hover {
    cursor: pointer;
}



.add-note-container {
    margin: 0 auto;
    /* width: 300px; */
}
.add-note-radios input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.add-note-radios label {
    margin: 0 auto;
    text-align: center;
    /* width: 100%; */
}
.add-note-radios button {
    margin-right: 15px;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: unset;
    font-size: 1.3rem;
    text-align: center;
}
.add-note-radios button:hover {
    /* background-color: rgba(121, 228, 148, 0.5); */
}

.note-edit-modal {
    background-color: coral;
    /* background-color: rgb(70, 228, 104); */
    background-color: rgb(156, 247, 176);
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 12vh;
    right: 50%;
    transform: translate(50%, 0);
    padding: 10px;
    min-height: 200px;
    width: 300px;
    z-index: 1000;
}

.close-modal-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.note-edit-form {
    width: 100%;
}

.note-edit-form > *:not(button) {
    margin-bottom: 10px;
    width: 100%;
}

.notes-keep-app input, .notes-keep-app textarea, .notes-keep-app select {
    outline: unset;
    background: unset;
    background: unset;
    border: unset;
    border-bottom: 1px solid rgba(78, 75, 75, 0.5);
}

.new-note-styling input {
    position: absolute;
    visibility: hidden;
}

.new-note-styling > * {
    margin-bottom: 10px;
}

.color-palate > * {
    margin-bottom: 10px;
}

.color-palate-container {
    width: 100%;
}

.color-palate-container > * {
    margin-bottom: 10px;
}


.palate-color {
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.selected-color {
    border: none;
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
    transform: scale(1.2);
}

.edit-color-palate-btn, .map-search-btn {
    border-radius: 0;
    background: none !important;
    border: none;
    font-size: 0.75rem;
    border-bottom: 1px solid black;
}

.note-list {
    margin: 0 auto;
    column-count: 4;
}

.note-list > * {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.note-list li {
    margin: 0 auto;
}

.pinned-notes {
    background-color: rgba(190, 186, 186, 0.3);
    box-shadow: inset 0px 0px 15px -7px rgba(0,0,0,0.75);
}

.colors-edit-modal {
    padding: 20px;
    position: fixed;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    width: 270px;
    /* height: 220px; */
    top: 15vh;
    right: 50%;
    transform: translate(50%, 0);
}
.colors-edit-modal > * {
    margin-bottom: 10px;
}

.note-data > * {
    margin-bottom: 5px;
}

.todo-list li {
    margin-bottom: 5px;
}

.todo-list li > *:first-child {
    margin-right: 5px;
}

.map-container {
    /* position: relative; */
    max-width: 100%;
    max-height: 100%;
    /* over */
}

.colors  {
    margin-top: 5px;
}

#googleMap div {
    z-index: -1000000000000000000000000000000000 !important;
}

.short-txt-btn {
    font-size: 0.8rem;
}

@media (max-width: 1100px) {
    .note-list {
        column-count: 3;
    }
}
@media (max-width: 820px) {
    .note-list {
        padding: 0;
    }
}
@media (max-width: 800px) {
    .note-list {
        column-count: 2;
    }
}
@media (max-width: 530px) {
    .note-list {
        column-count: 1;
    }
}

@media (max-width: 350px) {
    .add-note-radios button {
        margin-bottom: 15px;
    }
}